In [17]:
# PACOTES NECESSERAIOS
import pandas as pd
import requests

In [26]:
# URL DA PAGINA ONDE TEM A TABELA
url = 'https://br.investing.com/indices/bovespa-components'

In [27]:
request = requests.get(url)

In [28]:
df = pd.read_html(request.text)

C:\Users\jsegu\AppData\Local\Temp\ipykernel_9056\2048412592.py:1: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(request.text)

In [30]:
df

[    Unnamed: 0               Nome  Último  Máxima  Mínima  Var. %    Vol.  \
 0          NaN            Rumo ON    2281    2357    2281  -1,51%  12,14M
 1          NaN      Alpargatas PN     920     948     920  -1,39%   1,73M
 2          NaN           Allos ON    2228    2256    2218  -0,40%   2,49M
 3          NaN           Ambev ON    1170    1170    1158  +0,52%  19,04M
 4          NaN          Arezzo ON    5338    5418    5271  -0,87%   1,49M
 ..         ...                ...     ...     ...     ...     ...     ...
 81         NaN   CSN Mineração ON     542     553     539  -2,17%   7,63M
 82         NaN           Assaí ON    1111    1125    1104  -0,18%   9,42M
 83         NaN  Petrorecôncavo ON    2107    2130    2095  -0,19%    1,8M
 84         NaN          Raizen PN     310     312     305  +0,32%  10,86M
 85         NaN      Iguatemi Unit    2187    2216    2181  -0,36%   1,34M

    Positivo(s)      Hora
 0        aa.aa  16:54:59
 1        aa.aa  16:54:59
 2        aa.aa  16:54:59
 3        aa.aa  16:54:59
 4        aa.aa  16:54:59
 ..         ...       ...
 81       aa.aa  16:54:59
 82       aa.aa  16:54:59
 83       aa.aa  16:54:59
 84       aa.aa  16:54:59
 85       aa.aa  16:54:59

 [86 rows x 9 columns],
                 Nome  Último  Var. %    Vol.
 0  Magazine Luiza ON    1363  -4,88%  26,83M
 1            Vale ON    6233  -1,05%  22,33M
 2   Itaú Unibanco PN    3379  +0,60%  19,45M
 3       Petrobras PN    3840  -0,26%  19,42M
 4        Smartfit ON    2275  -1,17%  17,02M
 5             Weg ON    4668  +0,37%   8,66M
 6          Sabesp ON    8155  -0,15%   7,32M,
                                 Nome  Último   Var. %    Vol.
 0              Gol Subscrição GOLL11     158  +43,64%  52,00K
 1                          Wetzel PN    1100  +31,42%   7,40K
 2              Gol Subscrição GOLL12      78  +30,00%  11,50K
 3  FII Pedra Negra Renda Imobiliária   11903  +15,00%     100
 4                        Lupatech ON     195  +14,71%   1,31M
 5                          Cemepe ON     480  +14,01%   10000
 6                  Springs Global ON     228  +13,43%  59,70K,
                              Nome  Último   Var. %     Vol.
 0            Banco Pan Subscrição       3  -25,00%  342,60K
 1                   HDFC Bank BDR    6226  -14,72%      100
 2  Allianca Saude e Participacoes    1247  -11,18%   93,30K
 3           Finansinos SA Credito    1250  -10,71%    10000
 4                  João Fortes ON      26  -10,34%    2,15M
 5                         Haga ON     275  -10,13%   29,60K
 6              Charles Schwab BDR    4650   -9,73%    2,02K]

In [31]:
# ORDENAÇÃO DAS TABELAS POR INDICE
for i, tabela in enumerate(df):
    print("----------------------------------")
    print(i)
    print(tabela)

----------------------------------
0
    Unnamed: 0               Nome  Último  Máxima  Mínima  Var. %    Vol.  \
0          NaN            Rumo ON    2281    2357    2281  -1,51%  12,14M
1          NaN      Alpargatas PN     920     948     920  -1,39%   1,73M
2          NaN           Allos ON    2228    2256    2218  -0,40%   2,49M
3          NaN           Ambev ON    1170    1170    1158  +0,52%  19,04M
4          NaN          Arezzo ON    5338    5418    5271  -0,87%   1,49M
..         ...                ...     ...     ...     ...     ...     ...
81         NaN   CSN Mineração ON     542     553     539  -2,17%   7,63M
82         NaN           Assaí ON    1111    1125    1104  -0,18%   9,42M
83         NaN  Petrorecôncavo ON    2107    2130    2095  -0,19%    1,8M
84         NaN          Raizen PN     310     312     305  +0,32%  10,86M
85         NaN      Iguatemi Unit    2187    2216    2181  -0,36%   1,34M

   Positivo(s)      Hora
0        aa.aa  16:54:59
1        aa.aa  16:54:59
2        aa.aa  16:54:59
3        aa.aa  16:54:59
4        aa.aa  16:54:59
..         ...       ...
81       aa.aa  16:54:59
82       aa.aa  16:54:59
83       aa.aa  16:54:59
84       aa.aa  16:54:59
85       aa.aa  16:54:59

[86 rows x 9 columns]
----------------------------------
1
                Nome  Último  Var. %    Vol.
0  Magazine Luiza ON    1363  -4,88%  26,83M
1            Vale ON    6233  -1,05%  22,33M
2   Itaú Unibanco PN    3379  +0,60%  19,45M
3       Petrobras PN    3840  -0,26%  19,42M
4        Smartfit ON    2275  -1,17%  17,02M
5             Weg ON    4668  +0,37%   8,66M
6          Sabesp ON    8155  -0,15%   7,32M
----------------------------------
2
                                Nome  Último   Var. %    Vol.
0              Gol Subscrição GOLL11     158  +43,64%  52,00K
1                          Wetzel PN    1100  +31,42%   7,40K
2              Gol Subscrição GOLL12      78  +30,00%  11,50K
3  FII Pedra Negra Renda Imobiliária   11903  +15,00%     100
4                        Lupatech ON     195  +14,71%   1,31M
5                          Cemepe ON     480  +14,01%   10000
6                  Springs Global ON     228  +13,43%  59,70K
----------------------------------
3
                             Nome  Último   Var. %     Vol.
0            Banco Pan Subscrição       3  -25,00%  342,60K
1                   HDFC Bank BDR    6226  -14,72%      100
2  Allianca Saude e Participacoes    1247  -11,18%   93,30K
3           Finansinos SA Credito    1250  -10,71%    10000
4                  João Fortes ON      26  -10,34%    2,15M
5                         Haga ON     275  -10,13%   29,60K
6              Charles Schwab BDR    4650   -9,73%    2,02K

In [32]:
# ESCOLHA DO INDICE ONDE CONTEM A TABELA DESEJADA
df = pd.DataFrame(df[0])

In [33]:
df

,Unnamed: 0,Nome,Último,Máxima,Mínima,Var. %,Vol.,Positivo(s),Hora
0,NaN,Rumo ON,2281,2357,2281,"-1,51%","12,14M",aa.aa,16:54:59
1,NaN,Alpargatas PN,920,948,920,"-1,39%","1,73M",aa.aa,16:54:59
2,NaN,Allos ON,2228,2256,2218,"-0,40%","2,49M",aa.aa,16:54:59
3,NaN,Ambev ON,1170,1170,1158,"+0,52%","19,04M",aa.aa,16:54:59
4,NaN,Arezzo ON,5338,5418,5271,"-0,87%","1,49M",aa.aa,16:54:59
...,...,...,...,...,...,...,...,...,...
81,NaN,CSN Mineração ON,542,553,539,"-2,17%","7,63M",aa.aa,16:54:59
82,NaN,Assaí ON,1111,1125,1104,"-0,18%","9,42M",aa.aa,16:54:59
83,NaN,Petrorecôncavo ON,2107,2130,2095,"-0,19%","1,8M",aa.aa,16:54:59
84,NaN,Raizen PN,310,312,305,"+0,32%","10,86M",aa.aa,16:54:59
85,NaN,Iguatemi Unit,2187,2216,2181,"-0,36%","1,34M",aa.aa,16:54:59